<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netPeerTcpBinding>
        <binding name ="NewBinding0">
          <security mode ="None" />
          <resolver mode ="Pnrp" />
        </binding>
      </netPeerTcpBinding>
    </bindings>
    <client>
      <remove contract="IMetadataExchange" name="sb" />
      <endpoint address="net.p2p://URLService" binding="netPeerTcpBinding"
                bindingConfiguration="NewBinding0" contract="WCFWinForm.IApplicationService"
                name="Client" />
    </client>
    <services>
      <service name="WCFWinForm.ApplicationService">
        <endpoint address="net.p2p://URLService" binding="netPeerTcpBinding"
          bindingConfiguration="NewBinding0" contract="WCFWinForm.IApplicationService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>